/* Modal Base Styles */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background: white;
    padding: 32px;
    border-radius: 8px;
    max-width: 400px;
    width: 90%;
    max-height: 90vh;
    overflow-y: auto;
    position: relative;
}

/* Statistics Modal Specific Styles */
.statistics-modal {
    text-align: center;
}

.game-result {
    margin-bottom: 24px;
    padding: 16px;
    /* background-color: #f8f9fa; */
    border-radius: 8px;
    text-align: center;
}

.game-result h3 {
    color: var(--color-correct);
    font-size: 24px;
    margin-bottom: 8px;
}

.stats-header {
    margin-bottom: 24px;
    text-align: center;
}

.stats-header h2 {
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.05em;
}

.stats-row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    margin-bottom: 32px;
}

.stat-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stat-number {
    font-size: 36px;
    font-weight: 700;
    line-height: 36px;
    color: var(--color-text);
}

.stat-label {
    font-size: 12px;
    color: #666;
    margin-top: 4px;
}

.next-word-timer {
    padding: 24px;
    background-color: #f8f9fa;
    border-radius: 8px;
    margin-top: 24px;
    margin-bottom: 24px;
    text-align: center;
}

.next-word-timer h3 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 8px;
    color: #666;
}

.countdown {
    font-size: 32px;
    font-weight: 700;
    font-family: monospace;
    color: var(--color-text);
}

/* Modal Button */
.modal-button {
    background-color: var(--color-correct);
    color: white;
    border: none;
    border-radius: 4px;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    width: 100%;
    margin-top: 16px;
    transition: background-color 0.2s;
}

.modal-button:hover {
    background-color: #5c9958;
}

/* Instructions Specific Styles */
.instructions-content {
    padding: 12px 0;
}

.instructions-content h2 {
    font-size: 24px;
    margin-bottom: 16px;
    text-align: center;
}

.instructions-content p {
    font-size: 14px;
    margin-bottom: 12px;
}

/* .instructions-content ul {
    list-style-type: disc;
    padding-left: 24px;
    margin-bottom: 24px;
} */

.examples {
    margin-top: 24px;
    margin-bottom: 10px;
}

.examples h3 {
    font-size: 14px;
    margin-bottom: 12px;
}
